/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 100px;
}

.container {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px 20px;
}

header {
    margin: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .time {
    font-size: 14px;
}

.top-bar .icons i {
    margin-left: 8px;
}

.search-bar {
    margin: 16px 0;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #121212;
    color: #fff;
}

.search-bar i {
    margin-left: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tabs .tab {
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.tabs .active {
    border-bottom: 2px solid #fff;
}

.location {
    display: flex;
    padding: 30px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.location img {
    width: 40px;
}

.options {
    display: flex;
    font-size: 14px;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.options img {
    width: 30px;
    margin-right: 5px;
}

main {
    flex: 1;
    overflow-y: auto;
}

.event {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #333;
}

.event-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-right: 15px;
}

.event-details .event-date {
    color: red;
    font-size: 12px;
}

.event-details .event-title {
    font-size: 16px;
    font-weight: bold;
}

.event-details .event-location {
    font-size: 12px;
    color: #888;
}

.product {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #333;
}

.product-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-right: 15px;
}

.product-details .product-price {
    color: red;
    font-size: 12px;
}

.product-details .product-title {
    font-size: 16px;
    font-weight: bold;
}

.product-details .product-seller {
    font-size: 12px;
    color: #888;
}

footer {
    background: #111;
    padding: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
}

.bottom-nav i {
    font-size: 20px;
    cursor: pointer;
}