/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    margin-top: 80px;
    margin-bottom: 20px;
}

.container {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

input[type="radio"] {
    display: none;
}

h1 {
    font-size: 22px;
}

.tabs {
    margin-bottom: 16px;
}

.tabs span {
    margin-right: 20px;
    opacity: 0.6;
}

.tabs .active {
    padding-bottom: 3px;
    opacity: 1;
    border-bottom: 2px solid white;
}

.refund h2,
.discount h2,
.payment-methods h2,
.installments h2,
.card-info h2,
.card-holder h2 {
    font-size: 18px;
    margin: 10px 0;
}

.info {
    color: #5fbd5f;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-custom {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.radio-group input[type="radio"]:checked+.radio-custom {
    background-color: #5fbd5f;
}

.installments select,
.discount input,
.card-info input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #1e1e1e;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input {
    width: 48%;
}

.card-info label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: small;
}

.card-info input[type="checkbox"] {
    background-color: blue;
    width: 16px;
}

.card-info input[type="checkbox"] {
    margin-right: 5px;
}

.card-holder p {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}

.finalizar-btn {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding: 20px 0;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}

.details h3 {
    margin-bottom: 15px;
}

.details .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .highlight {
    font-weight: bolder;
    color: white;
}

.total {
    margin-top: 10px;
}

.total .highlight {
    font-size: large;
}