body {
    margin: 0;
    background-color: #111;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.footer nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-icon {
    color: #aaa;
    font-size: 22px;
    text-decoration: none;
}

.nav-icon img {
    max-width: 35px;
    height: auto;
}

.nav-icon:hover {
    color: #fff;
}